@import '~antd/dist/antd.less';

@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
/* 
======= UNIVERSAL BACKGROUND =======
*/
    .container-bg-1 {
        background: rgb(89,126,247);
        background: linear-gradient(90deg, rgba(89,126,247,1) 0%, rgba(47,84,235,1) 100%);
    }
    .container-bg-2 {
        background-color: #1f1f1f,
}
/* 
======= CONTAINER OPACITY =======
Class changes according to side nav
*/
    .content-bg-df { background-color: none; }
    .content-bg-blur { background-color: rgba(0,0,0,0.4); }

/* 
======= UNIVERSAL CSS FOR RESPONSIVENESS =======
Note: All widths are with correspondance with AntDesign
*/
    /* Main Container */
    .container { 
        margin: 0 auto;
    }
        .section-menu { display: none;}
    /* Side Navigation */
    .sideNav-open { width: 250px; }
    .sideNav-close { width: 0px; }
    /* Technologies Grid */
    .gridStyle { width: 50%; }

/* 
======= MyHeader.css =======
*/
    .nav-container { 
        margin: 0 auto;
    }
    .sLink {
        margin-left: 25px;
    }
    

/* xs */
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .nav-container { 
        max-width: 95%;
    }
    .section-sections.sLink { 
        display: none; 
    }
    .section-menu { 
        display: block;
    }
    .introduction-container { 
        margin: 100px 0 !important; 
        text-align: center; 
    }
        .intro-picture { 
            padding-top: 50px; 
        }
    .gridStyle { 
        width: 100%; 
    }
}

/* sm */
@media only screen and (min-width: 576px)  {
    .container {
        max-width: 540px;
    }
    .introduction-container { margin: 150px 0 !important; text-align: center; }
        .intro-picture { padding-top: 50px; }
}

/* md */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .sideNav-open { width: 0; }
    #intro-left { padding-right: 10px; }
    .intro-picture { padding-top: 25px; }
}

/* lg */
@media only screen and (min-width: 992px)  {
    .container {
        max-width: 960px;
    }
}

/* xl */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* xxl */
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}