@import '~antd/dist/antd.less';

@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
/* 
======= UNIVERSAL BACKGROUND =======
*/
.container-bg-1 {
    background: radial-gradient(circle, rgba(24,144,255,1) 0%, rgba(9,109,217,1) 100%);
}

/* 
======= CONTAINER OPACITY =======
Class changes according to side nav
*/
.content-bg-df { background-color: none; }
.content-bg-blur { background-color: rgba(0,0,0,0.4); }

/* 
======= UNIVERSAL CSS FOR RESPONSIVENESS =======
Note: All widths are with correspondance with AntDesign
*/
/* Main Container */
.container { width: 900px; margin: 0 auto;}
/* Main Nav bar */
.nav { width: 1000px; margin: auto; }
    .section-menu { display: none;}
/* Side Navigation */
.sideNav-open { width: 250px; }
.sideNav-close { width: 0px; }
/* Technologies Grid */
.gridStyle { width: 50%; }

/* xs */
@media only screen and (max-width: 576px) {
    .container { width: 95%; }
    .nav { width: 95%; }
        .section-sections.sLink { display: none; }
        .section-menu { display: block;}
    .introduction-container { margin: 100px 0 !important; text-align: center; }
        .intro-picture { padding-top: 50px; }
    .gridStyle { width: 100%; }
}

/* sm */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .container { width: 550px; }
    .nav { width: 550px; }
        .section-sections.sLink { display: none; }
        .section-menu { display: block;}
    .introduction-container { margin: 150px 0 !important; text-align: center; }
        .intro-picture { padding-top: 50px; }
}

/* md */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .container { width: 650px; }
    .nav { width: 650px; }
    .sideNav-open { width: 0; }
    .intro-picture { padding-top: 25px; }
}

/* lg */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .nav { width: 850px; }
    .sideNav-open { width: 0; }
}

/* xl */
@media only screen and (min-width: 1201px) {
    .sideNav-open { width: 0; }
}